</main>
  <div class="jumbotron">
    <h1 class="display-4"> <%= title %> page</h1>
    <p class="lead">My name is Tharun Naveen, I am a current student at Ontario Tech university.</p>
    <hr class="my-4">
    <p></p>
     <p class="lead2">
      <p> Click Here to see about me </p>
      <a class="btn btn-primary btn-lg" href="/AboutMe" role="button">About Me</a>
    </p>
    <p class="lead">
      </p> Click here to see my projects.</p>
      <a class="btn btn-primary btn-lg" href="/Projects" role="button">Projects</a> 

    <p class="lead3">
      </p> Click here to contact me.</p>
      <a class="btn btn-primary btn-lg" href="/ContactMe" role="button">Contact Me</a>

    </p>

</div>
</main>