<%- include('partials/header') %>
    <div class="container"></div>
        <img src="images/Image2.JPG" alt="profile picture" class="pfp" width="20%">
    </div>
    <section>
        <div class="containers1">
            <div>Hello I am Tharun Naveen, I am a current student at Ontario Tech Univerisity studying Networking and IT Security. </div>
        </div>
        <div class="myvideo">
            <video controls unmuted poster="" class="video-elem" width="50%" height>
                <source src="Assets/Abvid.MOV"type="video/mp4">
            </video>
        </div>


<%- include('partials/footer') %>
