<%- include('partials/header') %>
<h4>ABOUT ME: </h4>
    <div class="containers"></div>
        <img src="images/Image2.JPG" alt="profile picture" class="pfp" width="20%">
    </div>
    <section>
        <div class="containers1">
            <div>Hello I am Tharun Naveen, I am a current student at Ontario Tech Univerisity studying Networking and IT Security. </div>
        </div>
        <div class="myvideo">
            <video controls unmuted poster="" class="video-elem" width="50%" height>
                <source src="Assets/Abvid.MOV"type="video/mp4">
            </video>
        </div>


<nav class="navbar fixed navbar-dark bg-dark">
  <div class="container-fluid">
    <h6 class="navbar-text">&copy; Copyright 2024, All Rights Reserverd.</h6>
  </div>
</nav>
  <script src = "/Scripts/app.js"></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
