<%- include('partials/header') %>
<h4> My Projects: </h4>
 <section class="myproject">
        <div>
            <div class="project1">
                <div class="ProjectImg1">
                    <h4>Project for Object Orientated Programming</h4>
                    <img src="images/ImgforWaS.png" alt="ProjectPicture" class="Project-Picture" width="50%">
                </div>
            </div>
            <div>
                <div class="ProjectImg2">
                <h4>Project for Advanced Networking I</h4>
                    <img src="images/Networking.png" alt="ProjectPicture" class="Project-Picture" width="50%">
                </div>
            </div>
        </div>
    </section>
<nav class="navbar fixed navbar-dark bg-dark">
  <div class="container-fluid">
    <h6 class="navbar-text">&copy; Copyright 2024, All Rights Reserverd.</h6>
  </div>
</nav>
  <script src = "/Scripts/app.js"></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
