<%- include('partials/header') %>
 <section>
        <div class="projects">MY PROJECTS: 
            <div class="project1">
                <div class="ProjectImg1">
                    <img src="ImgforWaS.png" alt="ProjectPicture" class="Project-Picture" width="500px">
                    <h4>Project for Object Orientated Programming</h4>
                </div>
            </div>
            
            <div>
                <div class="ProjectImg2">
                    <img src="Networking.png" alt="ProjectPicture" class="Project-Picture" width="500xpx">
                    <h4>Project for Advanced Networking I</h4>
                </div>
            </div>
            
        </div>
    </section>
<%- include('partials/footer') %>
