<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <title><%= title %></title>
  <link rel='stylesheet' href='/Content/app.css' />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1 class="navbar-text" style="color: white;">Tharun Naveen</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-3 mb-lg-0">
        
        
        <li class="nav-item">
        <% if (title == "Home") {%> 
          <a class="nav-link active" href="/Home">
        <%} else { %>
          <a class="nav-link " href="/Home">
        <%} %>
          <i class="fa-solid fa-house-user"></i> Home</a>
        </li>

         <li class="nav-item">
        <% if (title == "About Me") {%> 
          <a class="nav-link active" href="/AboutMe">
        <%} else { %>
          <a class="nav-link " href="/AboutMe">
        <%} %>
          <i class="fa-solid fa-person"></i> About Me</a>
        </li>
        


        <li class="nav-item">
        <% if (title == "My Projects") {%> 
          <a class="nav-link active" href="/Projects">
        <%} else { %>
          <a class="nav-link" href="/Projects">
        <%} %>
          <i class="fa-solid fa-gears"></i> My Projects</a>
        </li>

         <li class="nav-item">
        <% if (title == "Contact Me") {%> 
          <a class="nav-link active" href="/ContactMe">
        <%} else { %>
          <a class="nav-link" href="/ContactMe">
        <%} %>
          <i class="fa-solid fa-address-book"></i> Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <h6 class="navbar-text">&copy; Copyright 2024, All Rights Reserverd.</h6>
  </div>
</nav>
  <h1 class="Display-5 "><%= title %> page</h1>
  <script src = "/Scripts/app.js"></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
<body>
    <div class="containers">
        <div>Some of the projects I have done so far.</div>
    </div>
</body>
    <section>
        <div class="projects">MY PROJECTS: 
            <div class="project1">
                <div class="ProjectImg1">
                    <img src="/public/images/ImgforWaS.png" alt="ProjectPicture" class="Project-Picture" width="500px">
                    <h4>Project for Object Orientated Programming</h4>
                </div>
            </div>
            <div>
                <div class="ProjectImg2">
                    <img src="/public/images/Networking.png" alt="ProjectPicture" class="Project-Picture" width="500px">
                    <h4>Project for Advanced Networking I</h4>
                </div>
            </div>

</html>
